.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterModal {
  position: absolute;
  right: 14px;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover);
  }
}

.viewNow {
  background-color: var(--button);
  color: var(--text-white);
  padding: 16px 48px;
  border-radius: 200px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--hover);
  }
}

.showMore {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: var(--button);
  width: 140px;
  height: 50px;
  border-radius: 200px;
  color: var(--text-white);
  &:hover {
    background-color: var(--hover);
  }
}

.favourites {
  background-color: transparent;
}

.search {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  background-color: var(--button);
  color: var(--text-white);
  border-radius: 200px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--hover);
  }
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
}

.send {
  border-radius: 200px;
  width: 166px;
  height: 56px;
  margin: 0 auto;
  background-color: var(--button);
  color: var(--text-white);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--hover);
  }
}

@media (min-width: 768px) {
  .showMore {
    width: 166px;
    height: 56px;
  }
}

@media (min-width: 1024px) {
  .filterModal {
    display: none;
  }

  .showMore {
    position: static;
    left: none;
    transform: none;
  }

  .search {
    width: 166px;
    height: 56px;
    margin: 0;
  }
}
