.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  right: 14px;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover);
  }
}

.home {
  background-color: var(--button);
  color: var(--text-white);
  padding: 16px 48px;
  border-radius: 200px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--hover);
  }
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
}
