.header {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
}

.container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link {
  color: var(--text-black);
  font-size: 30px;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover);
  }
}

.active {
  color: var(--text-active);
}

@media (min-width: 768px) {
  .logo {
    position: absolute;
    left: 20px;
  }
  .header {
    padding-top: 0;
    height: 72px;
  }

  .container {
    gap: 20px;
  }
}

@media (min-width: 1300px) {
  .logo {
    left: 64px;
  }
  .container {
    gap: 32px;
  }
}
