.form {
  max-width: 320px;
}

.labelLocation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--Gray, #6c717b);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.iconMap {
  position: absolute;
  bottom: 17px;
  left: 20px;
}

.inputLocation {
  border: none;
  border-radius: 12px;
  background-color: var(--background-light);
  height: 56px;
  padding-left: 48px;
  transition: outline 0.3s ease;
  &:hover {
    outline: 1px solid var(--hover);
  }
  &:focus {
    outline: 1px solid var(--button);
  }
  &::placeholder {
    color: var(--text-placeholder);
  }
}

.pFilter {
  color: var(--Text, #475467);
  font-weight: 500;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.title {
  padding-bottom: 15px;
  border-bottom: 1px solid #dadde1;
  color: var(--Main, #101828);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.equipmentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  padding-top: 24px;
  padding-bottom: 12px;
  justify-content: center;
}

.labelEquipment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100px;
  height: 86px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  transition: border-color 0.3s ease;
  &:hover {
    border-color: var(--hover);
  }
}

.inputEquipment {
  display: none;
}

.inputType {
  display: none;
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  padding-top: 24px;
  padding-bottom: 30px;
  justify-content: center;
}

.labelType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 100px;
  height: 86px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  transition: border-color 0.3s ease;
  &:hover {
    border-color: var(--hover);
  }
}

.labelEquipment:has(.inputEquipment:checked) {
  border-color: var(--button);
}

.labelType:has(.inputType:checked) {
  border-color: var(--button);
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 1300px) {
  .form {
    max-width: 360px;
  }

  .labelLocation {
    gap: 8px;
  }

  .iconMap {
    bottom: 17px;
    left: 20px;
  }

  .inputLocation {
    height: 56px;
    padding-left: 48px;
  }

  .pFilter {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .title {
    padding-bottom: 24px;
  }

  .equipmentContainer {
    gap: 8px 12px;
    padding-top: 24px;
    padding-bottom: 12px;
    min-width: 360px;
  }

  .labelEquipment {
    gap: 8px;
    width: 112px;
    height: 96px;
  }

  .labelType {
    width: 112px;
    height: 96px;
    gap: 8px;
  }

  .typeContainer {
    gap: 8px 12px;
    padding-top: 24px;
    padding-bottom: 30px;
  }
}
