:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #f2f4f7;
  --text-white: #ffffff;
  --text-dark: #101828;
  --text-light: #475467;
  --text-active: #e44848;
  --text-placeholder: #6c717b;
  --border: #dadde1;
  --button: #e44848;
  --hover: #d84343;
  --star: #bead21;
}

body {
  height: 100vh;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
