.container {
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  color: var(--text-white);
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.p {
  color: var(--text-white);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    height: calc(100vh - 72px);
  }
}

@media (min-width: 1024px) {
  .container {
    align-items: start;
    padding-left: 64px;
  }

  .p {
    padding-bottom: 48px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1024px) {
  .container {
    background-image: url(../../img/heroMob.jpg);
  }
}
.container {
  background-image: url(../../img/heroMob.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url(../../img/heroMob@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1024px) {
    .container {
      background-image: url(../../img/heroTab.jpg);
    }
  }
  .container {
    background-image: url(../../img/heroTab.webp);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url(../../img/heroTab@2x.webp);
    }
  }
}
@media screen and (min-width: 1280px) {
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1024px) {
    .container {
      background-image: url(../../img/heroDes.jpg);
    }
  }
  .container {
    background-image: url(../../img/heroDes.webp);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url(../../img/heroDes@2x.webp);
    }
  }
}
